.d-flex {
    display: flex;
}

.d-flex-end {
    align-items: flex-end;
}

.flex-larger{
    flex-grow: 2; /*any numbers that larger than 1 should work fine*/
}

.bg-light {
    background-color: lightgrey;
}

.border-radius {
    border: none;
    border-radius: 3px;
}

.title-text {
    font-size: 2.1rem;
    font-weight: 600;

}

.body-text {
    font-size: 1.5rem;
    font-weight: 400;
}